<div>
  {% if customer %}
<a class="btn" href="/account/logout">Logout</a>
{% else %}      
<a class="btn" href="/account">Account Login</a>
  {% endif %} <br><br>
     All wholesale orders are subject to the Doubletake Wholesale Terms and Conditions. <a href="/tc">Download them now</a>.
  <br><br>If you have questions, ask! Please email us at wholesale@shopdoubletake.com.<br><br><br>
 
   </p></div>






