{% section 'page-banner4' %}
{% section 'page-richtext6' %}

{% section 'page-double7' %}

{% section 'page-columns3' %}



<!-- /templates/page.liquid -->


<div class="wrapper page-margin">
  <div class="grid">
    <div class="grid__item large--two-thirds push--large--one-sixth">
      <h1 class="text-center h2 templateTitle">{{ page.title }}</h1>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
