


<!-- /templates/page.liquid -->

<h1 class="text-center h2 templateTitle">{{ page.title }}</h1>
{% section 'page-double8' %}
<div class="wrapper page-margin">
  <div class="grid">
    <div class="grid__item large--two-thirds push--large--one-sixth">
      <div class="rte">
        {{ page.content }}


{% section 'page-columns4' %}


{% section 'page-columns5' %}

{% section 'page-columns6' %}
        
{% section 'page-columns7' %}
{% section 'page-columns8' %}
        
        
      </div>
    </div>
  </div>
</div>


